%div.panel
	%b Post new comment: 
	%br
	%br
	= form_tag idea_comments_path, :method => :post do
		=render :partial => 'form'  
		-#= hidden_field :comment, :idea_id, value: @idea.id

		= hidden_field :comment, :user_id, value: @current_user
		= hidden_field :comment, :rank, value: 0  
		%br
		= submit_tag 'Add Comment'
