/*Renee
 *= require_self
 *= require_tree .
 */
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

/* Layout ------------------ */
html, body { height: 100%; margin: 0; padding: 0;}
body > #main { 
	position: fixed; 
	width: 100%; 
	height: 90%; 
	overflow: auto;
	padding-top: 10px;
}

html, footer{
	background-image:url('white_wall_hash.png')
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/* Header ------------------ */
header {
	height: 65px;
}

p.flash {
	float: left;
	margin-top: 25px;
	margin-left: 20%;
	font-size: 80%;
	width: 20%;
	text-align: center;
}

p.flashnotice {
	background-color: #fed05e;

}

p.flashwarning {
	background-color: #fe5e5e;
}

#logo {
	float: left;
	width: 250px;
}

.search {
	float: right;
	width: 250px;
	margin: 2% .5%;
}

/* Panels ------------------ */

div.panel, div.panel1, div.panel2, div.panel3, div.panel4 {
	border-style: ridge;
	border-width: 3px;
	border-color: #006a89;
	min-height: 440px;
	height: 75%;
	overflow: auto;
	width: 25%;
	min-width: 310px;
	padding: 20px 25.4px 25px;
	float: left;
	background-color: #f9f9f9;
	box-shadow: 2px 2px 2px #888888;
}

div.panel, .col1 {
	margin: 10px 0px 10px 3.5%;
}

div.panel1LoggedIn, div.panel2 {
	height: 43%;
	min-height: 180px;
	/*padding-left: 25.4px;*/
}

div.panel1LoggedIn {
	line-height: 280%;
}

div.panel1LoggedIn {
	padding-top: 5px;
}

div.panel2 {
	clear: both;
	margin-top: 25px;
}

div.col1 {
	float: left;
	/*height: 86%;*/
	min-height: 440px;
}

div.panel4 {
	/*height: 93%;*/
	/*margin-bottom: 10px;*/
}

div.wide {
	width: 50%;
}

/* Tables ------------------ */
table.main {
	padding-top: 10px;
	font-size: 85%;
	width: 100%
}

table.main td{
	border-top: thin solid gray;
	padding: 5px;
}

table.main td:first-child {
	width: 90%;
}

table.spaced td:first-child {
	width: 50%;
}

table.spaced td:nth-child(2), table.spaced td:nth-child(3), table.spaced td:nth-child(4) {
	padding-left: 10px;
	/*padding-right: 10px;*/
}

td.small {
	font-size: 80%;
}

/* Footer ------------------ */
footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 55px;
/*	border-top: solid;
	border-top-style: ridge;
	border-top-color: #006a89;*/
	background-color: #f9f9f9;
}

.usernamePos, .username {
	position: absolute;
}

.usernamePos {
	float: left;
	width: 200px;
	margin-left: 45%;
	margin-top: 5px;
	font-size: 80%;
}
.username {
	font-size: 275%;
	font-style: normal;
}

#icon1, #icon2, #icon3, #icon4, #icon5 {
	position: absolute;
	bottom: 8px;
}

#icon1 {
	right: 10px;
}
#icon2 {
 	right: 40px;
 }
#icon3 {
	right: 75px;
}
#icon4 {
	right: 110px;
}

/* Links ------------------ */
a.username:visited {color: #006a89;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red;}


/* Generic ------------------ */
.floatL {
	float: left;
}

.floatR {
	float: right;
}

.clear {
	clear: both;
}