/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 html,
body {
    height:90%;
}

div.panel1, div.panel2, div.panel3{
	margin: 10px 1.1% 10px 2.4%;
	border-style: ridge;
	border-color: #006a89;
	padding: 0 2% 25px 2%;
	min-height: 450px;
/*	max-height: 450px;
	height: 90%;*/
	overflow: auto;
	width: 25%;
	min-width: 320px;
	float: left;
}

p.flashnotice {
	margin-left: 40%;
	background-color: #fed05e;
	font-size: 80%;
	width: 20%;
	text-align: center;
}

p.flashwarning {
	margin-left: 40%;
	background-color: #fe5e5e;
	font-size: 80%;
	width: 20%;
	text-align: center;
}

.logoPos {
	float: left;
	width: 250px;
}

.usernamePos {
	float: left;
	width: 200px;
	margin: 1.5% 10%;
	font-size: 80%;
}
.username {
	font-size: 300%;
	font-style: normal;
}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red;}

.searchPos {
	float: right;
	width: 300px;
	margin: 2% .5%;

}

#main {
    clear: both;
}

.break {
	float: clear;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}
