/* Collaborated: Renee, Lindsey; */
div.commentbox {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 100%;
	float: center;
	font-size: 80%;
/*	position: relative;
	top: 120px;*/
	border-top-style: ridge;
	border-top-width: 3px;
	border-top-color: #006a89;
	padding: 20px 25.4px 25px;
	background-color: #f9f9f9;
	/*box-shadow: 2px 2px 2px #888888;*/
}

table#comments {
	margin: 10px auto;
	width: 95%;
}

table#comments td:first-child {
	text-align: center;
}

table#comments th, table#comments td {
	border-top: thin solid gray;
	padding-top: 10px;
}

table#comments td:nth-child(4), table#comments td:nth-child(5), table#comments td:nth-child(6) {
	text-align: center;
}

a.voterButtons {
	background-color: lightGray;
	border: thin solid black;
	border-radius: 45px;
	font-size: 130%;
	width: 40px;
	box-shadow: 2px 2px 2px #888888;
	margin-left: auto;
	margin-right: auto; 
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	width: 15px;
	height: 25px;
}

a.voterButtons:active {
	position: relative;
	top: 2px;
	left: 2px;
}

a.up{
	line-height: 26px;
}

a.down {
	line-height: 23px;
}
