// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.signIn {
	margin: 20px 20px 10px 40px;
	border-style: ridge;
	border-color: #006a89;
	height: 455px;
	width: 26%;
	min-width: 255px;
	padding: 10px 20px 10px 20px;
	line-height: 210%;
	float: left;
}

div.popularIdeas {
	margin: 20px 15px 10px 15px;
	border-style: ridge;
	border-color: #006a89;
	height: 455px;
	overflow: auto;
	width: 26%;
	padding: 10px 20px 10px 20px;
	line-height: 200%;
	float: left;
}

div.aboutSite {
	margin: 20px 40px 10px 20px;
	border-style: ridge;
	border-color: #006a89;
	height: 455px;
	width: 26%;
	padding: 10px 20px 10px 20px;
	float: left;
}

.aboutSite p {
	font-size: 90%;
}

hr {
	margin: 20px 0px 10px 0px;
}

.search {
	float: right;
	margin-top: 25px;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}