/* Collaborated: Renee, Colin; */
div.idea {
	margin-left: auto;
	margin-right: auto;
	min-height: 250px;
	border-style: ridge;
	border-color: #006a89;
	/*min-height: 10px;*/
	/*height: 20%;*/
	width: 50%;
	min-width: 350px;
	padding: 10px 20px 10px 20px;
	line-height: 100%;
	float: center;
	background-color: #f9f9f9;
	box-shadow: 2px 2px 2px #888888;
}

#taglist {
	text-align:left;
	color:blue;	
	font-size: 85%;
}

.subscription {
	float: right;
	position: relative;
	bottom: -10px;
}

