.newMessage{
	line-height: 210%;
	margin-top: 10px;
	margin-left: 5%;
}

div.panelHalf {
	margin: 0 1.1% 10px 2.4%;
	border-style: ridge;
	border-color: #006a89;
	padding: 10px 2% 25px 2%;
	/*min-height: 455px;*/
	height: 455px;
	overflow: auto;
	width: 41%;
	min-width: 320px;
	float: left;
}

/* Table ----------------------------*/
table#messages {
	padding-top: 10px;
	font-size: 85%
}

table#messages tr{
	border-top: thin solid gray;
	padding: 5px;
}

table#main td:first-child {
	width: 90%;
}