/*Renee*/
.newMessage{
	line-height: 210%;
	margin-top: 10px;
	margin-left: 5%;
}

div.panelWide {
	width: 35%;
	min-width: 320px;

}

/* Table ----------------------------*/
table#messages {
	/*padding-top: 10px;*/
}

table#messages td{
	border-top: thin solid gray;
	padding: 5px;
}

table#messages td:first-child {
	width: 31%;
}
table#messages td:nth-child(2) {
	width: 46%;
}

.highlight {
	font-weight: 800;
}
