html,
body {
    height:90%;
}

div.show {
	display: all;
}

div.hide {
	display: none;
}

div.signIn {
	margin: 10px 20px 10px 40px;
	border-style: ridge;
	border-color: #006a89;
	min-height: 450px;
	height: 90%;
	width: 26%;
	min-width: 250px;
	padding: 10px 20px 10px 20px;
	line-height: 210%;
	float: left;
}

div.popularIdeas {
	margin: 10px 15px 10px 15px;
	border-style: ridge;
	border-color: #006a89;
	min-height: 450px;
	height: 90%;
	overflow: auto;
	width: 26%;
	min-width: 250px;
	padding: 10px 20px 10px 20px;
	line-height: 200%;
	float: left;
}

div.aboutSite {
	margin: 10px 40px 10px 20px;
	border-style: ridge;
	border-color: #006a89;
	min-height: 450px;
	
	height: 90%;
	width: 26%;
	min-width: 250px;
	padding: 10px 20px 10px 20px;
	float: left;
}

.aboutSite p {
	font-size: 90%;
}

hr {
	margin: 20px 0px 10px 0px;
}


p.flashnotice {
	position: absolute;
	left: 40%;
	top: 20px;
	background-color: #fed05e;
	font-size: 80%;
	width: 20%;
	text-align: center;
}

p.flashwarning{
	position: absolute;
	left: 40%;
	top: 20px;
	background-color: #fe5e5e;
	font-size: 80%;
	width: 20%;
	text-align: center;
}

.search {
	float: right;
	margin-top: 25px;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}